---
import Layout from "../components/Layout.astro";
import Home from "../components/Home.astro";
import Services from "../components/Services.astro";
import Works from "../components/Works.astro";
import Clients from "../components/Clients.astro";
import Contact from "../components/Contact.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icons/devchallenges.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
		<title>Edie Homepage</title>
	</head>
	<body class="container mx-auto max-w-5xl">
		<Layout>
			<Home />
			<Services />
			<Works />
			<Clients />
		</Layout>
	</body>
</html>
