<div id="clients" class="pb-8 md:pb-16 lg:pb-32">
  <div class="grid grid-cols-1 md:grid-cols-2 md:items-center">
    <div class="w-72">
      <p class="text-red-1 text-lg font-medium">Meet the team</p>
      <p class="text-gray-1 text-4xl font-medium py-4 leading-normal">
        We are chilled and a laidback team
      </p>
      <p class="text-gray-2 text-base font-normal">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="flex items-center my-9 gap-3">
      <img
        class="rounded-3xl w-1/2"
        src="/imgs/people/person3.png"
        alt="person 3"
      />
      <div class="w-1/2">
        <img
          class="rounded-3xl w-11/12 mb-3"
          src="/imgs/people/person1.png"
          alt="person 1"
        />
        <img
          class="rounded-3xl w-full"
          src="/imgs/people/person2.png"
          alt="person 2"
        />
      </div>
    </div>
  </div>

  <div>
    <p
      class="text-gray-1 text-2xl md:text-4xl font-medium mt-24 leading-snug md:leading-normal max-w-3xl"
    >
      “Fast and outstanding resutls. Edie understands their customer’s needs.
      They have a young and talented team.”
    </p>
    <div class="flex my-7 md:my-12 gap-8 items-center">
      <img
        class="rounded-xl w-20 h-20 md:w-36 md:h-36"
        src="/imgs/people/person4.png"
        alt="person 4"
      />
      <div>
        <p class="text-gray-1 text-2xl font-medium mb-3">Carlos Tran</p>
        <p class="text-gray-3 text-lg font-medium">The Decorate Gatsby</p>
      </div>
    </div>
  </div>
</div>
