<p class="text-gray-3 text-2xs md:text-sm font-medium m-2">
  Want us to contact you?
</p>
<div class="p-2 rounded-xl bg-gray-6 flex justify-between gap-2">
  <input
    class="w-full bg-transparent rounded-xl pl-3"
    type="text"
    name="email"
    placeholder="Email"
  />
  <button
    class="text-white text-sm md:text-lg font-medium rounded-xl bg-blue-1 px-5 py-3"
    >Join</button
  >
</div>
