<header>
  <nav>
    <h3>Edie</h3>
    <ul id="menu" class="hidden">
      <li><a href="#home"></a>Home</li>
      <li><a href="#services"></a>Services</li>
      <li><a href="#our-works"></a>Our Works</li>
      <li><a href="#clients"></a>Clients</li>
      <li><a href="#contact"></a>Contact</li>
      <!-- <button class="menu-icon-x" onclick="toggleMenu()">
          <img src="./public/x.svg" alt="menu">
        </button> -->
    </ul>
    <button onclick="
    toggleMenu()
    ">
      <img src="./icons/menu.svg" alt="menu" />
    </button>
  </nav>
</header>
