---
import Contact from "./Contact.astro";
---

<div id="home" class="mb-8 md:mb-16 lg:mb-32">
  <div class="mx-7 md:ml-16 lg:ml-32 my-3 md:mb-6 lg:mb-10">
    <p class="text-blue-1 text-xs md:text-lg font-medium mb-2 md:mb-4">
      Unhappy with your website?
    </p>
    <p
      class="text-gray-1 text-2xl md:text-5xl font-medium max-w-xl md:leading-normal"
    >
      We create beautiful and fast web services
    </p>
  </div>
  <img
    class="rounded-2xl px-0"
    src="/imgs/people/heroImage.jpg"
    alt="hero image"
  />
  <div class="mx-7 md:ml-16 lg:ml-32 my-6 md:my-10 max-w-sm">
    <p
      class="text-gray-1 text-2xl md:text-5xl md:leading-normal font-medium mb-6 md:mb-10"
    >
      Story, emotion and purpose
    </p>
    <p class="text-gray-2 text-xs md:text-lg font-normal">
      We help transform your ideas into real world applications that will
      outperform your toughest competition and help you achieve your strategic
      goals in short period of time.
    </p>
  </div>
  <div class="mx-7 md:ml-16 lg:ml-32 my-2 max-w-sm">
    <Contact />
  </div>
</div>
