<div id="home" class="py-8">
  <div class="px-7 py-3">
    <p class="text-blue-1 text-xs font-medium mb-2">
      Unhappy with your website?
    </p>
    <p class="text-gray-1 text-2xl font-medium">
      We create beautiful and fast web services
    </p>
  </div>
  <img
    class="rounded-2xl px-0"
    src="/imgs/people/heroImage.jpg"
    alt="hero image"
  />
  <div class="px-7 py-6">
    <p class="text-gray-1 text-2xl font-medium mb-6">
      Story, emotion and purpose
    </p>
    <p class="text-gray-2 text-xs font-normal">
      We help transform your ideas into real world applications that will
      outperform your toughest competition and help you achieve your strategic
      goals in short period of time.
    </p>
  </div>
  <div class="px-7 py-2">
    <p class="text-gray-3 text-2xs font-medium p-2">Want us to contact you?</p>
    <div class="p-2 rounded-xl bg-gray-6 flex justify-between gap-2">
      <input
        class="w-full bg-transparent rounded-xl pl-3"
        type="text"
        name="email"
        id="email"
        placeholder="Email"
      />
      <button
        class="text-white text-sm font-medium rounded-xl bg-blue-1 px-5 py-3"
        >Join</button
      >
    </div>
  </div>
</div>
