---
import Contact from "./Contact.astro";
---

<div id="home" class="py-8">
  <div class="px-7 py-3">
    <p class="text-blue-1 text-xs font-medium mb-2">
      Unhappy with your website?
    </p>
    <p class="text-gray-1 text-2xl font-medium">
      We create beautiful and fast web services
    </p>
  </div>
  <img
    class="rounded-2xl px-0"
    src="/imgs/people/heroImage.jpg"
    alt="hero image"
  />
  <div class="px-7 py-6">
    <p class="text-gray-1 text-2xl font-medium mb-6">
      Story, emotion and purpose
    </p>
    <p class="text-gray-2 text-xs font-normal">
      We help transform your ideas into real world applications that will
      outperform your toughest competition and help you achieve your strategic
      goals in short period of time.
    </p>
  </div>
  <div class="px-7 py-2">
    <Contact />
  </div>
</div>
