---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<div>
  <Header />
  <div class="container mx-auto max-w-5xl p-3 md:px-16 md:py-8">
    <slot />
  </div>
  <Footer />
</div>
