---
import Card from "./Card.astro";
---

<div id="services" class="pb-8 md:pb-16 lg:pb-32">
  <p
    class="text-gray-1 text-2xl md:text-4xl font-medium m-9 md:m-10 max-w-sm md:leading-normal"
  >
    We offer high demand services
  </p>
  <div class="grid gap-8 grid-cols-1 lg:grid-cols-3">
    <Card
      icon="edit"
      colorIcon="bg-blue-1"
      title="UI/UX Design"
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac nulla consequat aliquet id quis turpis."
      buttonText="Get started"
    />
    <Card
      icon="code"
      colorIcon="bg-green-1"
      title="Front End"
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac nulla consequat aliquet id quis turpis."
      buttonText="Get started"
    />
    <Card
      icon="storage"
      colorIcon="bg-red-1"
      title="Back End"
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac nulla consequat aliquet id quis turpis."
      buttonText="Get started"
    />
  </div>
</div>
