---
import Card from "./Card.astro";
---

<div id="services" class="py-8">
  <p class="text-gray-1 text-2xl font-medium p-9">
    We offer high demand services
  </p>
  <div class="grid gap-8 grid-cols-1">
    <Card
      icon="edit"
      colorIcon="bg-blue-1"
      title="UI/UX Design"
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac nulla consequat aliquet id quis turpis."
      buttonText="Get started"
    />
    <Card
      icon="code"
      colorIcon="bg-green-1"
      title="Front End"
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac nulla consequat aliquet id quis turpis."
      buttonText="Get started"
    />
    <Card
      icon="storage"
      colorIcon="bg-red-1"
      title="Back End"
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac nulla consequat aliquet id quis turpis."
      buttonText="Get started"
    />
  </div>
</div>
