---
import CardWork from "./CardWork.astro";
---

<div id="our-works" class="pb-8 md:pb-16 lg:pb-32">
  <p
    class="text-gray-1 text-2xl md:text-4xl font-medium p-8 md:pt-0 max-w-md md:leading-normal"
  >
    Good design means good business
  </p>
  <div class="grid gap-6 grid-cols-1 md:grid-cols-2">
    <div class="md:mt-40">
      <CardWork
        img="/imgs/products/smarthome.jpg"
        title="Smart home dashboard"
        subtitle="Full stack application"
      />
    </div>
    <div>
      <CardWork
        img="/imgs/products/onboard.png"
        title="Onboard application"
        subtitle="UX/UI design"
      />
    </div>
    <div class="md:mt-40">
      <CardWork
        img="/imgs/products/booking.png"
        title="Booking system"
        subtitle="Mobile application"
      />
    </div>
    <div>
      <CardWork
        img="/imgs/products/juice-product.png"
        title="Juice product homepage"
        subtitle="Front End applicati on"
      />
    </div>
  </div>
  <div class="flex center items-center my-9 md:my-0 gap-3 md:justify-end">
    <p class="text-blue-1 text-lg font-medium">see more</p>
    <img src="/icons/arrow.svg" alt="arrow icon" />
  </div>
</div>
